# Indexing and slicing

In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/citibike_tripdata.csv')

df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,232,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,190,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [3]:
df['starttime']

0        2018-05-01 00:04:47
1        2018-05-01 01:31:10
2        2018-05-01 01:31:29
3        2018-05-01 02:03:29
4        2018-05-01 04:27:12
                ...
32423    2018-05-30 13:49:18
32424    2018-05-30 13:49:21
32425    2018-05-30 13:49:51
32426    2018-05-30 13:50:52
32427    2018-05-30 13:50:58
Name: starttime, Length: 32428, dtype: object

In [5]:
df[['tripduration' , 'starttime' , 'stoptime']]

       tripduration            starttime             stoptime
0               338  2018-05-01 00:04:47  2018-05-01 00:10:25
1              1482  2018-05-01 01:31:10  2018-05-01 01:55:53
2               232  2018-05-01 01:31:29  2018-05-01 01:35:22
3               190  2018-05-01 02:03:29  2018-05-01 02:06:40
4               303  2018-05-01 04:27:12  2018-05-01 04:32:16
...             ...                  ...                  ...
32423           396  2018-05-30 13:49:18  2018-05-30 13:55:55
32424           313  2018-05-30 13:49:21  2018-05-30 13:54:35
32425           316  2018-05-30 13:49:51  2018-05-30 13:55:08
32426          1130  2018-05-30 13:50:52  2018-05-30 14:09:42
32427           369  2018-05-30 13:50:58  2018-05-30 13:57:08

[32428 rows x 3 columns]

In [8]:
# Extract the to 10 bikeid's

df['bikeid'].head(10)

0    33558
1    33593
2    29217
3    29662
4    15271
5    29298
6    33619
7    33624
8    26300
9    33555
Name: bikeid, dtype: int64

In [10]:
df.head(10)['bikeid']

0    33558
1    33593
2    29217
3    29662
4    15271
5    29298
6    33619
7    33624
8    26300
9    33555
Name: bikeid, dtype: int64

# method 1

In [13]:
df['start station name'][1]

'Grand St'

In [14]:
# Method 2

df.at[1, 'start station name']

'Grand St'

In [16]:
df['tripduration'][3] = 200

C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_10140\2702156654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tripduration'][3] = 200

In [18]:
df.at[2 , 'tripduration'] = 300

In [19]:
df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

# Slicing can be done by 3 methods

1. Normal method

2. loc

3. iloc

In [23]:
new_df = df.head(10)
e_list = []

for i in new_df.index:
    e_list.append(f'row_{i}')

new_df.index = e_list

new_df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
row_0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
row_1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
row_2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
row_3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
row_4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
row_5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
row_6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber
row_7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber
row_8,395,2018-05-01 05:12:07,2018-05-01 05:18:42,3225,Baldwin at Montgomery,3186,Grove St PATH,26300,Annual Membership,Subscriber
row_9,170,2018-05-01 05:13:52,2018-05-01 05:16:43,3206,Hilltop,3195,Sip Ave,33555,$25 Off Annual Membership,Subscriber

# Normal slicing

- slicing on columns is not allowed

1. zero indexing
- start is inclusive
- stop is exclusive

2. custom indexing
- start is inclusive
- stop is inclusive

In [25]:
new_df[2 : 5] # store it into df then print

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
row_2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
row_3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
row_4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber

In [27]:
new_df[5 : 8]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
row_5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
row_6,577,2018-05-01 05:05:46,2018-05-01 05:15:23,3225,Baldwin at Montgomery,3186,Grove St PATH,33619,Annual Membership from Citi Bike App,Subscriber
row_7,830,2018-05-01 05:11:50,2018-05-01 05:25:41,3207,Oakland Ave,3185,City Hall,33624,Annual Membership,Subscriber

In [29]:
new_df['row_2' : 'row_5']

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
row_2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
row_3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
row_4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
row_5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber

# loc method

- slicing on rows and columns are allowed

1. custom indexing
- start is inclusive
- stop is inclusive

In [31]:
new_df.loc[2 : 5]

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

In [33]:
new_df.loc['row_2' : 'row_5']

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
row_2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
row_3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
row_4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
row_5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber

In [34]:
new_df.loc['row_2' : 'row_5' , 'start station id' : 'end station name']

       start station id start station name  end station id end station name
row_2              3194    McGinley Square            3193     Lincoln Park
row_3              3185          City Hall            3186    Grove St PATH
row_4              3207        Oakland Ave            3195          Sip Ave
row_5              3194    McGinley Square            3195          Sip Ave

In [38]:
new_df.loc['row_1' : 'row_3' :2 , 'starttime' : 'end station id' : 2]

                 starttime  start station id  end station id
row_1  2018-05-01 01:31:10              3681            3185
row_3  2018-05-01 02:03:29              3185            3186

In [40]:
df[2:4]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer

In [42]:
df.loc[2:4]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber

In [44]:
df.loc[10 : 30 : 10 , ::2]

,tripduration,stoptime,start station name,end station name,name_localizedValue
10,353,2018-05-01 05:24:29,Baldwin at Montgomery,Sip Ave,Annual Membership
20,261,2018-05-01 06:00:28,Jersey & 6th St,Newport PATH,Annual Membership
30,452,2018-05-01 06:23:28,Astor Place,Sip Ave,Annual Membership

In [46]:
df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

# iloc method

- slicing on rows and columns are allowed

1. zero indexing
- start is inclusive
- stop is exclusive

In [49]:
new_df.iloc['row_2' , 'row_4']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [51]:
new_df.iloc[2:5]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
row_2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
row_3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
row_4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber

In [52]:
new_df.iloc[2:5 , 3:7]

       start station id start station name  end station id end station name
row_2              3194    McGinley Square            3193     Lincoln Park
row_3              3185          City Hall            3186    Grove St PATH
row_4              3207        Oakland Ave            3195          Sip Ave

In [54]:
df.index

RangeIndex(start=0, stop=32428, step=1)

In [55]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'end station id', 'end station name', 'bikeid',
       'name_localizedValue', 'usertype'],
      dtype='object')

In [58]:
dict(zip(range(len(df.columns)) , df.columns))

{0: 'tripduration',
 1: 'starttime',
 2: 'stoptime',
 3: 'start station id',
 4: 'start station name',
 5: 'end station id',
 6: 'end station name',
 7: 'bikeid',
 8: 'name_localizedValue',
 9: 'usertype'}

In [61]:
df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

# Filtering the data

In [65]:
df['usertype'] == 'Customer'

0        False
1         True
2        False
3         True
4        False
         ...
32423    False
32424    False
32425    False
32426    False
32427    False
Name: usertype, Length: 32428, dtype: bool

In [67]:
df[df['usertype'] == 'Customer']

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
35,367,2018-05-01 06:28:03,2018-05-01 06:34:10,3278,Monmouth and 6th,3186,Grove St PATH,26235,Single Ride,Customer
139,699,2018-05-01 07:45:27,2018-05-01 07:57:07,3268,Lafayette Park,3214,Essex Light Rail,33562,Single Ride,Customer
151,334,2018-05-01 07:52:39,2018-05-01 07:58:14,3201,Dey St,3195,Sip Ave,26178,24 Hour,Customer
...,...,...,...,...,...,...,...,...,...,...
32348,842,2018-05-30 12:15:18,2018-05-30 12:29:21,3194,McGinley Square,3195,Sip Ave,29463,3-Day Pass from Citi Bike App,Customer
32352,278,2018-05-30 12:21:07,2018-05-30 12:25:46,3214,Essex Light Rail,3214,Essex Light Rail,33680,24 Hour,Customer
32353,1004,2018-05-30 12:21:20,2018-05-30 12:38:04,3214,Essex Light Rail,3183,Exchange Place,29646,24 Hour,Customer
32358,557,2018-05-30 12:28:48,2018-05-30 12:38:06,3214,Essex Light Rail,3183,Exchange Place,26198,24 Hour,Customer
32391,4387,2018-05-30 13:12:04,2018-05-30 14:25:12,3213,Van Vorst Park,3213,Van Vorst Park,26272,Single Ride,Customer

In [70]:
df[(df['usertype'] == 'Customer') & (df['tripduration'] >= 1000)]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
222,4929,2018-05-01 08:17:21,2018-05-01 09:39:31,3183,Exchange Place,3183,Exchange Place,29520,24 Hour,Customer
408,3191,2018-05-01 10:05:07,2018-05-01 10:58:19,3183,Exchange Place,3212,Christ Hospital,33593,24 Hour,Customer
466,1840,2018-05-01 11:53:20,2018-05-01 12:24:01,3213,Van Vorst Park,3213,Van Vorst Park,33615,24 Hour,Customer
467,1835,2018-05-01 11:53:36,2018-05-01 12:24:11,3213,Van Vorst Park,3213,Van Vorst Park,29483,24 Hour,Customer
...,...,...,...,...,...,...,...,...,...,...
32293,2230,2018-05-30 11:11:17,2018-05-30 11:48:28,3205,JC Medical Center,3205,JC Medical Center,26194,3 Day,Customer
32295,1896,2018-05-30 11:12:13,2018-05-30 11:43:50,3192,Liberty Light Rail,3202,Newport PATH,33670,24 Hour,Customer
32327,1135,2018-05-30 11:54:15,2018-05-30 12:13:11,3201,Dey St,3483,Montgomery St,33604,Single Ride,Customer
32353,1004,2018-05-30 12:21:20,2018-05-30 12:38:04,3214,Essex Light Rail,3183,Exchange Place,29646,24 Hour,Customer
32391,4387,2018-05-30 13:12:04,2018-05-30 14:25:12,3213,Van Vorst Park,3213,Van Vorst Park,26272,Single Ride,Customer

In [ ]:
df[(condition1) & | (condition2)]

In [75]:
df[(df['usertype'] == 'Subscriber') & (df['start station name'] == 'Harborside')]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
49,356,2018-05-01 06:40:07,2018-05-01 06:46:03,3639,Harborside,3202,Newport PATH,33618,Annual Membership,Subscriber
83,397,2018-05-01 07:10:27,2018-05-01 07:17:04,3639,Harborside,3205,JC Medical Center,26256,Annual Membership,Subscriber
227,325,2018-05-01 08:19:11,2018-05-01 08:24:37,3639,Harborside,3202,Newport PATH,26303,$25 Off Annual Membership,Subscriber
234,372,2018-05-01 08:22:21,2018-05-01 08:28:33,3639,Harborside,3202,Newport PATH,26209,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32393,1152,2018-05-30 13:12:48,2018-05-30 13:32:00,3639,Harborside,3639,Harborside,26210,NYCHA Membership (Renewal),Subscriber
32401,225,2018-05-30 13:18:06,2018-05-30 13:21:52,3639,Harborside,3184,Paulus Hook,29639,Annual Membership,Subscriber
32411,873,2018-05-30 13:29:58,2018-05-30 13:44:32,3639,Harborside,3220,5 Corners Library,29260,Annual Membership,Subscriber
32412,266,2018-05-30 13:30:11,2018-05-30 13:34:38,3639,Harborside,3202,Newport PATH,29461,$25 Off Annual Membership,Subscriber
32413,249,2018-05-30 13:35:14,2018-05-30 13:39:24,3639,Harborside,3184,Paulus Hook,29509,$25 Off Annual Membership,Subscriber

In [77]:
df[(df['usertype'] == 'Subscriber') & 
((df['start station name'] == 'Harborside') | (df['start station name'] == 'Grand St'))]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
49,356,2018-05-01 06:40:07,2018-05-01 06:46:03,3639,Harborside,3202,Newport PATH,33618,Annual Membership,Subscriber
83,397,2018-05-01 07:10:27,2018-05-01 07:17:04,3639,Harborside,3205,JC Medical Center,26256,Annual Membership,Subscriber
104,125,2018-05-01 07:23:51,2018-05-01 07:25:57,3681,Grand St,3275,Columbus Drive,29245,Annual Membership,Subscriber
227,325,2018-05-01 08:19:11,2018-05-01 08:24:37,3639,Harborside,3202,Newport PATH,26303,$25 Off Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32393,1152,2018-05-30 13:12:48,2018-05-30 13:32:00,3639,Harborside,3639,Harborside,26210,NYCHA Membership (Renewal),Subscriber
32401,225,2018-05-30 13:18:06,2018-05-30 13:21:52,3639,Harborside,3184,Paulus Hook,29639,Annual Membership,Subscriber
32411,873,2018-05-30 13:29:58,2018-05-30 13:44:32,3639,Harborside,3220,5 Corners Library,29260,Annual Membership,Subscriber
32412,266,2018-05-30 13:30:11,2018-05-30 13:34:38,3639,Harborside,3202,Newport PATH,29461,$25 Off Annual Membership,Subscriber
32413,249,2018-05-30 13:35:14,2018-05-30 13:39:24,3639,Harborside,3184,Paulus Hook,29509,$25 Off Annual Membership,Subscriber

In [83]:
df.query('''
usertype == 'Subscriber' and `start station name` == 'Harborside'
''')

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
49,356,2018-05-01 06:40:07,2018-05-01 06:46:03,3639,Harborside,3202,Newport PATH,33618,Annual Membership,Subscriber
83,397,2018-05-01 07:10:27,2018-05-01 07:17:04,3639,Harborside,3205,JC Medical Center,26256,Annual Membership,Subscriber
227,325,2018-05-01 08:19:11,2018-05-01 08:24:37,3639,Harborside,3202,Newport PATH,26303,$25 Off Annual Membership,Subscriber
234,372,2018-05-01 08:22:21,2018-05-01 08:28:33,3639,Harborside,3202,Newport PATH,26209,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32393,1152,2018-05-30 13:12:48,2018-05-30 13:32:00,3639,Harborside,3639,Harborside,26210,NYCHA Membership (Renewal),Subscriber
32401,225,2018-05-30 13:18:06,2018-05-30 13:21:52,3639,Harborside,3184,Paulus Hook,29639,Annual Membership,Subscriber
32411,873,2018-05-30 13:29:58,2018-05-30 13:44:32,3639,Harborside,3220,5 Corners Library,29260,Annual Membership,Subscriber
32412,266,2018-05-30 13:30:11,2018-05-30 13:34:38,3639,Harborside,3202,Newport PATH,29461,$25 Off Annual Membership,Subscriber
32413,249,2018-05-30 13:35:14,2018-05-30 13:39:24,3639,Harborside,3184,Paulus Hook,29509,$25 Off Annual Membership,Subscriber

In [84]:
df.query('''
usertype == 'Subscriber' and `start station name` in ('Harborside' , 'Grand St')
''')

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
49,356,2018-05-01 06:40:07,2018-05-01 06:46:03,3639,Harborside,3202,Newport PATH,33618,Annual Membership,Subscriber
83,397,2018-05-01 07:10:27,2018-05-01 07:17:04,3639,Harborside,3205,JC Medical Center,26256,Annual Membership,Subscriber
104,125,2018-05-01 07:23:51,2018-05-01 07:25:57,3681,Grand St,3275,Columbus Drive,29245,Annual Membership,Subscriber
227,325,2018-05-01 08:19:11,2018-05-01 08:24:37,3639,Harborside,3202,Newport PATH,26303,$25 Off Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32393,1152,2018-05-30 13:12:48,2018-05-30 13:32:00,3639,Harborside,3639,Harborside,26210,NYCHA Membership (Renewal),Subscriber
32401,225,2018-05-30 13:18:06,2018-05-30 13:21:52,3639,Harborside,3184,Paulus Hook,29639,Annual Membership,Subscriber
32411,873,2018-05-30 13:29:58,2018-05-30 13:44:32,3639,Harborside,3220,5 Corners Library,29260,Annual Membership,Subscriber
32412,266,2018-05-30 13:30:11,2018-05-30 13:34:38,3639,Harborside,3202,Newport PATH,29461,$25 Off Annual Membership,Subscriber
32413,249,2018-05-30 13:35:14,2018-05-30 13:39:24,3639,Harborside,3184,Paulus Hook,29509,$25 Off Annual Membership,Subscriber

In [76]:
usertype == Subscriber

start station name --> Harborside or Grand St

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [85]:
df.query(f'''
usertype == 'Subscriber' and `start station name` in {('Harborside' , 'Grand St')}
''')

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
49,356,2018-05-01 06:40:07,2018-05-01 06:46:03,3639,Harborside,3202,Newport PATH,33618,Annual Membership,Subscriber
83,397,2018-05-01 07:10:27,2018-05-01 07:17:04,3639,Harborside,3205,JC Medical Center,26256,Annual Membership,Subscriber
104,125,2018-05-01 07:23:51,2018-05-01 07:25:57,3681,Grand St,3275,Columbus Drive,29245,Annual Membership,Subscriber
227,325,2018-05-01 08:19:11,2018-05-01 08:24:37,3639,Harborside,3202,Newport PATH,26303,$25 Off Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32393,1152,2018-05-30 13:12:48,2018-05-30 13:32:00,3639,Harborside,3639,Harborside,26210,NYCHA Membership (Renewal),Subscriber
32401,225,2018-05-30 13:18:06,2018-05-30 13:21:52,3639,Harborside,3184,Paulus Hook,29639,Annual Membership,Subscriber
32411,873,2018-05-30 13:29:58,2018-05-30 13:44:32,3639,Harborside,3220,5 Corners Library,29260,Annual Membership,Subscriber
32412,266,2018-05-30 13:30:11,2018-05-30 13:34:38,3639,Harborside,3202,Newport PATH,29461,$25 Off Annual Membership,Subscriber
32413,249,2018-05-30 13:35:14,2018-05-30 13:39:24,3639,Harborside,3184,Paulus Hook,29509,$25 Off Annual Membership,Subscriber

In [88]:
df[(df['name_localizedValue'] == 'Annual Membership') | (df['name_localizedValue'] == '24 Hour') | 
(df['name_localizedValue'] == '$25 Off Annual Membership')]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32422,108,2018-05-30 13:49:12,2018-05-30 13:51:00,3202,Newport PATH,3199,Newport Pkwy,29461,Annual Membership,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [89]:
df.query('''
name_localizedValue in ['Annual Membership', '24 Hour' , '$25 Off Annual Membership']
''')

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32422,108,2018-05-30 13:49:12,2018-05-30 13:51:00,3202,Newport PATH,3199,Newport Pkwy,29461,Annual Membership,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [90]:
l = ['Annual Membership', '24 Hour' , '$25 Off Annual Membership']

df.query(f'''
name_localizedValue in {l}
''')

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
5,176,2018-05-01 04:37:05,2018-05-01 04:40:01,3194,McGinley Square,3195,Sip Ave,29298,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32422,108,2018-05-30 13:49:12,2018-05-30 13:51:00,3202,Newport PATH,3199,Newport Pkwy,29461,Annual Membership,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [ ]:
usertype

In [92]:
df['usertype'].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [98]:
df[df['usertype'] == 'Subscriber']['tripduration'].max()

608122

In [99]:
df[df['usertype'] == 'Customer']['tripduration'].max()

936970

In [101]:
df[df['tripduration'] == df[df['usertype'] == 'Subscriber']['tripduration'].max()]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
11529,608122,2018-05-10 10:32:11,2018-05-17 11:27:34,3426,JCBS Depot,3426,JCBS Depot,29273,Motivate Employee,Subscriber

In [102]:
df[df['tripduration'] == df[df['usertype'] == 'Customer']['tripduration'].max()]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
10873,936970,2018-05-09 20:04:32,2018-05-20 16:20:42,3638,Washington St,3198,Heights Elevator,26210,24 Hour,Customer

In [116]:
e = []

for i in df['usertype'].unique():
    m = df[df['usertype'] == i]['tripduration'].max()
    e.append(m)

e

[608122, 936970]

In [119]:
df.query(f'''
tripduration in {e}
''')

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
10873,936970,2018-05-09 20:04:32,2018-05-20 16:20:42,3638,Washington St,3198,Heights Elevator,26210,24 Hour,Customer
11529,608122,2018-05-10 10:32:11,2018-05-17 11:27:34,3426,JCBS Depot,3426,JCBS Depot,29273,Motivate Employee,Subscriber

In [151]:
df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

In [154]:
df['tripduration'].sort_values(ascending = False).index[0]

10873

In [157]:
df.loc[10873]

tripduration                        936970
starttime              2018-05-09 20:04:32
stoptime               2018-05-20 16:20:42
start station id                      3638
start station name           Washington St
end station id                        3198
end station name          Heights Elevator
bikeid                               26210
name_localizedValue                24 Hour
usertype                          Customer
Name: 10873, dtype: object

In [165]:
df[df['start station name'] == 'Harborside']['tripduration'].sort_values(ascending = False).index[0]

12132

In [166]:
df[df['start station name'] == 'Grand St']['tripduration'].sort_values(ascending = False).index[0]

9019

In [168]:
l = [12132 , 9019]

df.loc[l]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
12132,44286,2018-05-10 19:47:19,2018-05-11 08:05:26,3639,Harborside,3203,Hamilton Park,29681,24 Hour,Customer
9019,49861,2018-05-08 16:33:41,2018-05-09 06:24:43,3681,Grand St,3681,Grand St,26151,24 Hour,Customer

In [170]:
l = []

for i in df['start station name'].unique():
    m = df[df['start station name'] == i]['tripduration'].sort_values(ascending = False).index[0]
    l.append(m)

df.loc[l]

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
12132,44286,2018-05-10 19:47:19,2018-05-11 08:05:26,3639,Harborside,3203,Hamilton Park,29681,24 Hour,Customer
9019,49861,2018-05-08 16:33:41,2018-05-09 06:24:43,3681,Grand St,3681,Grand St,26151,24 Hour,Customer
13153,5812,2018-05-11 17:43:45,2018-05-11 19:20:37,3194,McGinley Square,3194,McGinley Square,26258,24 Hour,Customer
15254,55010,2018-05-14 15:48:17,2018-05-15 07:05:07,3185,City Hall,3185,City Hall,26206,24 Hour,Customer
643,2581,2018-05-01 16:31:03,2018-05-01 17:14:05,3207,Oakland Ave,3202,Newport PATH,29251,Join Citi Bike for $14.95/month,Subscriber
23727,23911,2018-05-23 01:06:50,2018-05-23 07:45:22,3225,Baldwin at Montgomery,3225,Baldwin at Montgomery,29225,3 Day,Customer
27272,14470,2018-05-25 13:52:23,2018-05-25 17:53:34,3206,Hilltop,3210,Pershing Field,29243,$25 Off Annual Membership,Subscriber
6561,16102,2018-05-06 14:51:34,2018-05-06 19:19:57,3269,Brunswick & 6th,3186,Grove St PATH,26222,24 Hour,Customer
27513,83360,2018-05-25 16:40:29,2018-05-26 15:49:50,3212,Christ Hospital,3678,Fairmount Ave,26216,Annual Membership from Citi Bike App,Subscriber
5260,21106,2018-05-05 10:58:58,2018-05-05 16:50:44,3267,Morris Canal,3184,Paulus Hook,29539,24 Hour,Customer
6677,50584,2018-05-06 17:14:18,2018-05-07 07:17:23,3214,Essex Light Rail,3214,Essex Light Rail,29586,24 Hour,Customer
24719,677711,2018-05-23 18:27:42,2018-05-31 14:42:53,3276,Marin Light Rail,3426,JCBS Depot,33615,24 Hour,Customer
29544,173196,2018-05-28 11:38:43,2018-05-30 11:45:20,3270,Jersey & 6th St,3206,Hilltop,29204,Annual Membership,Subscriber
30121,4684,2018-05-28 18:39:38,2018-05-28 19:57:42,3281,Leonard Gordon Park,3202,Newport PATH,33648,$25 Off Annual Membership,Subscriber
28766,917900,2018-05-26 18:29:16,2018-06-06 09:27:37,3192,Liberty Light Rail,3426,JCBS Depot,33632,24 Hour,Customer
27163,13628,2018-05-25 12:26:59,2018-05-25 16:14:08,3184,Paulus Hook,3184,Paulus Hook,29640,24 Hour,Customer
13657,35894,2018-05-12 07:04:37,2018-05-12 17:02:52,3211,Newark Ave,3211,Newark Ave,26264,24 Hour,Customer
28282,22599,2018-05-26 11:52:41,2018-05-26 18:09:20,3203,Hamilton Park,3203,Hamilton Park,29211,24 Hour,Customer
25297,6860,2018-05-24 07:52:36,2018-05-24 09:46:56,3280,Astor Place,3280,Astor Place,29550,Single Ride,Customer
8810,5890,2018-05-08 11:51:18,2018-05-08 13:29:28,3279,Dixon Mills,3279,Dixon Mills,29293,24 Hour,Customer
11903,4481,2018-05-10 17:54:14,2018-05-10 19:08:55,3210,Pershing Field,3210,Pershing Field,33610,Annual Membership,Subscriber
3229,35045,2018-05-03 16:35:32,2018-05-04 02:19:38,3278,Monmouth and 6th,3272,Jersey & 3rd,29674,Single Ride,Customer
16207,54897,2018-05-15 08:36:31,2018-05-15 23:51:28,3199,Newport Pkwy,3639,Harborside,26223,Annual Membership,Subscriber
20932,54629,2018-05-20 17:10:39,2018-05-21 08:21:08,3209,Brunswick St,3186,Grove St PATH,33591,24 Hour,Customer
20127,2713,2018-05-19 18:40:45,2018-05-19 19:25:59,3191,Union St,3277,Communipaw & Berry Lane,29640,Annual Membership,Subscriber
29002,101377,2018-05-27 02:24:54,2018-05-28 06:34:32,3186,Grove St PATH,3186,Grove St PATH,29667,24 Hour,Customer
6152,27110,2018-05-06 07:03:01,2018-05-06 14:34:51,3277,Communipaw & Berry Lane,3192,Liberty Light Rail,33595,24 Hour,Customer
28685,4671,2018-05-26 17:31:34,2018-05-26 18:49:26,3481,York St,3481,York St,33646,3 Day,Customer
28668,72374,2018-05-26 17:09:54,2018-05-27 13:16:09,3195,Sip Ave,3191,Union St,29512,24 Hour,Customer
16166,21932,2018-05-15 08:23:58,2018-05-15 14:29:30,3213,Van Vorst Park,3426,JCBS Depot,29234,Annual Membership,Subscriber
6527,16461,2018-05-06 14:20:09,2018-05-06 18:54:31,3187,Warren St,3638,Washington St,33599,Annual Membership,Subscriber
19109,44049,2018-05-18 10:09:50,2018-05-18 22:23:59,3198,Heights Elevator,3202,Newport PATH,29673,24 Hour,Customer
19221,3998,2018-05-18 12:58:39,2018-05-18 14:05:18,3483,Montgomery St,3483,Montgomery St,33675,24 Hour,Customer
28028,33282,2018-05-26 02:52:58,2018-05-26 12:07:41,3196,Riverview Park,3281,Leonard Gordon Park,29451,Annual Membership,Subscriber
12800,12183,2018-05-11 11:55:36,2018-05-11 15:18:40,3275,Columbus Drive,3185,City Hall,29214,Annual Membership,Subscriber
13545,213655,2018-05-11 21:22:07,2018-05-14 08:43:02,3183,Exchange Place,3205,JC Medical Center,29444,Single Ride,Customer
20444,5789,2018-05-20 11:39:30,2018-05-20 13:15:59,3268,Lafayette Park,3183,Exchange Place,29505,3 Day,Customer
26553,55408,2018-05-24 22:08:23,2018-05-25 13:31:51,3678,Fairmount Ave,3677,Glenwood Ave,29617,24 Hour,Customer
20426,3272,2018-05-20 11:28:25,2018-05-20 12:22:58,3201,Dey St,3192,Liberty Light Rail,33662,24 Hour,Customer
6395,9404,2018-05-06 12:24:42,2018-05-06 15:01:27,3205,JC Medical Center,3205,JC Medical Center,33656,Single Ride,Customer
28288,244635,2018-05-26 11:54:39,2018-05-29 07:51:54,3272,Jersey & 3rd,3272,Jersey & 3rd,26262,24 Hour,Customer
5762,97685,2018-05-05 16:31:24,2018-05-06 19:39:29,3202,Newport PATH,3273,Manila & 1st,25066,24 Hour,Customer
28301,23203,2018-05-26 12:00:24,2018-05-26 18:27:08,3273,Manila & 1st,3269,Brunswick & 6th,26283,$25 Off Annual Membership,Subscriber
13765,166472,2018-05-12 10:44:37,2018-05-14 08:59:09,3193,Lincoln Park,3195,Sip Ave,29507,24 Hour,Customer
10873,936970,2018-05-09 20:04:32,2018-05-20 16:20:42,3638,Washington St,3198,Heights Elevator,26210,24 Hour,Customer
13844,2626,2018-05-12 12:39:28,2018-05-12 13:23:14,3679,Bergen Ave,3199,Newport Pkwy,26200,$25 Off Annual Membership,Subscriber
1895,5714,2018-05-02 15:44:30,2018-05-02 17:19:45,3677,Glenwood Ave,3677,Glenwood Ave,26258,24 Hour,Customer
11822,5884,2018-05-10 17:12:34,2018-05-10 18:50:39,3640,Journal Square,3202,Newport PATH,33612,Single Ride,Customer
15110,4131,2018-05-14 11:59:57,2018-05-14 13:08:48,3220,5 Corners Library,3220,5 Corners Library,26304,Annual Membership,Subscriber
11529,608122,2018-05-10 10:32:11,2018-05-17 11:27:34,3426,JCBS Depot,3426,JCBS Depot,29273,Motivate Employee,Subscriber

In [150]:
df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,name_localizedValue,usertype
0,338,2018-05-01 00:04:47,2018-05-01 00:10:25,3639,Harborside,3199,Newport Pkwy,33558,Annual Membership,Subscriber
1,1482,2018-05-01 01:31:10,2018-05-01 01:55:53,3681,Grand St,3185,City Hall,33593,24 Hour,Customer
2,300,2018-05-01 01:31:29,2018-05-01 01:35:22,3194,McGinley Square,3193,Lincoln Park,29217,FREE Bonus Month with Annual Membership,Subscriber
3,200,2018-05-01 02:03:29,2018-05-01 02:06:40,3185,City Hall,3186,Grove St PATH,29662,24 Hour,Customer
4,303,2018-05-01 04:27:12,2018-05-01 04:32:16,3207,Oakland Ave,3195,Sip Ave,15271,Annual Membership,Subscriber
...,...,...,...,...,...,...,...,...,...,...
32423,396,2018-05-30 13:49:18,2018-05-30 13:55:55,3184,Paulus Hook,3279,Dixon Mills,29639,Join Citi Bike for $14.95/month,Subscriber
32424,313,2018-05-30 13:49:21,2018-05-30 13:54:35,3202,Newport PATH,3639,Harborside,26301,$25 Off Annual Membership,Subscriber
32425,316,2018-05-30 13:49:51,2018-05-30 13:55:08,3220,5 Corners Library,3195,Sip Ave,29260,Annual Membership,Subscriber
32426,1130,2018-05-30 13:50:52,2018-05-30 14:09:42,3281,Leonard Gordon Park,3213,Van Vorst Park,26239,Annual Membership,Subscriber
32427,369,2018-05-30 13:50:58,2018-05-30 13:57:08,3220,5 Corners Library,3207,Oakland Ave,33660,Annual Membership,Subscriber

# Adding and deleting columns